
.motion-a {
 position: relative;
 display: block;
 overflow: hidden;
 white-space: nowrap;
 text-transform: lowercase;
 text-decoration: none;
}

.motion-div-second{
 position: absolute;
 inset: 0;
}

span{
 display: inline-block;
}
