@use "./_variables" as *;

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.navbar {
  width: 100%;
  background-color: transparent;
  backdrop-filter: blur(10px);
  color: $text-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $space-xs;
  position: fixed;
  top: 0;
  z-index: $z-index-navbar;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  opacity: 0; 
  animation: slideDown 0.5s ease-out forwards;
  transform: translateY(-100%);
  animation-delay: 0.3s;


  .navbar-brand{
    padding-left: $space-md;
    display: flex;
    font-family:$heading-font;
    align-items: baseline;
    font-size: $font-size-base;
    text-shadow: $Glow;
    
    :nth-child(2) {
    font-family: $primary-font;
    padding-left: $space-md;
    font-size: $font-size-s;
  }
  }

  .navbar-links {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    margin-right: 50px;
  }

  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;

    .bar {
      background-color: $border-color;
      height: 3px;
      width: 25px;
    }
  }
}

// Media Queries for Mobile
@media (max-width: $breakpoint-tablet) {
  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: $primary-color;
    z-index: 5;
  }

  .navbar-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}