.portfolio-section {
 position: relative;
 background-color: aqua;
 height: "100vh"
}

.grid-container {
 display: flex;
 flex-wrap: wrap; /* Optional if you want to support grid layout */
}

.image-card {
 position: absolute; /* Ensures cards are positioned randomly */
}
