// Color Palette
$primary-color: #fff;
$secondary-color: #fff;
$accent-color: #ec99b3;
$hover-color: #e5bbce;
$muted-color: #b1e7d9;
$black: #000;
$white: #fff;
$transparent: transparent;

// Neutral Colors
$background-color: #000;
$text-color: #fff;
$heading-color: #fff;
$border-color: #ff7ef2;

//Glow
$Glow:rgba(255, 40, 158, 0.9) 0px 0px 17px;

// Fonts
$primary-font: 'AcroMono';
$heading-font: 'Daydream';

$font-size-base: 1rem;         // Equivalent to 16px
$font-size-headings: 3rem;     // Equivalent to 48px
$font-size-s: 0.875rem;        // Equivalent to 14px
$font-size-m: 1.5rem; 
$font-size-l: 3rem;            // Equivalent to 24px (renamed the second $font-size-s)
$font-size-XXL: 6rem;          // Equivalent to 48px

// Font Weights
$font-weight-light: 300;     // Light text
$font-weight-regular: 400;   // Regular text
$font-weight-bold: 700;      // Bold text
$font-weight-extra-bold: 800; // Extra bold text

// Line Heights
$line-height-tight: 0.8;      // Good for headings or compact text
$line-height-normal: 1.5;     // Standard for body text
$line-height-relaxed: 1.8;    // For larger body text or spacious designs
$line-height-loose: 2.0;      // Great for larger sections of text for better readability

// Letter Spacing
$letter-spacing-xxs: 0.1px;
$letter-spacing-xs: 0.5px;
$letter-spacing-sm: 1px;
$letter-spacing-md: 2px;    // Default for body text
$letter-spacing-lg: 4px;    // For larger headers or titles

// Spacing
$space-xs: 8px;                    // Extra small spacing
$space-sm: 16px;                   // Small spacing
$space-md: 32px;                   // Medium spacing
$space-lg: 64px;                   // Large spacing
$space-xl: 128px;                  // Extra large spacing

// Breakpoints for media queries
$breakpoint-mobile: 480px;         // Mobile devices (portrait)
$breakpoint-tablet: 768px;         // Tablets and small laptops
$breakpoint-desktop: 1024px;       // Desktops and larger screens

// Box Shadow
$box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); // Light shadow for elements

// Border Radius
$border-radius: 8px;              // General border-radius for rounded elements

// Z-Index
$z-index-background: -1; 
$z-index-default: 0;
$z-index-content: 1;  
$z-index-parallax: 2; 
$z-index-logo: 10; 
$z-index-navbar: 1000;             // Navbar Z-index for positioning
$z-index-modal: 2000;              // Modal Z-index for popups, etc.


//fonts
@font-face {
 font-family: "AcroMono";
 src: local("AcroMono"),
   url("../assets/fonts/AcroMono.ttf") format("truetype");
}

@font-face {
 font-family: "Daydream";
 src: local("Daydream"),
   url("../assets/fonts/Daydream.ttf") format("truetype");
}

//cursor

$cursor-pointer:url("../assets/c_pointer.png"), auto;
